body {
    margin: 60px auto;
    width: 70%;
    background-color: #000000;
    color: #FFFFFF;
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #FFFFFF;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF;
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #FFFFFF;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #FFFFFF;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: #FFFFFF;
}

ul.posts li {
    list-style: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #FFFFFF;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
