<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
		</head>
		<body>
			<div class="middle">
			<nav>
	    		<ul>
				<li><img src="/images/caley_about.png" width="70" height="70"></li>
				<li>CALEY IN PROGRESS</li>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
              			<li><a href="/philosophy">Leadership Philosophy</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/videogames">Video Game Log</a></li>
	    		</ul>
			</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:caleyburton@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kidlovesindie">github.com/kidlovesindie</a></li>
				<li><a href="https://www.linkedin.com/in/caley-burton-8bb7354b/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
