<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
			
			<meta property='og:title' content='Welcome to Caley In Progress'/>
<meta property='og:image' content='//kidlovesindie.github.io/images/CIP_main.jpg'/>
<meta property='og:description' content='Learn about who I am and what I'm learning about, like Python, Git, Linux, Machine Learning, and more!'/>
<meta property='og:url' content='//kidlovesindies.github.io/'/>
							     
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Welcome to Caley In Progress" />
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="Learn about who I am and what I'm learning about, like Python, Git, Linux, Machine Learning, and more!" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="/images/CIP_main.jpg" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://kidlovesindie.github.io" />
			
    </head>
		<body>
			<nav>
	    		<ul>
				<li><img src="/images/caley_about.png" width="70" height="70"></li>
				<li>CALEY IN PROGRESS</li>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
              			<li><a href="/philosophy">Leadership Philosophy</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/videogames">Video Game Log</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:caleyburton@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kidlovesindie">github.com/kidlovesindie</a></li>
				<li><a href="https://www.linkedin.com/in/caley-burton/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
